
images/.DS_Store
images_enc_withoutMask/.DS_Store
images_enc_withoutMask/segmentation/iter_0_0/.DS_Store
images_enc_withoutMask/segmentation/iter_0_10/.DS_Store
images_enc_withoutMask/segmentation/iter_0_120/.DS_Store
images_enc_withoutMask/segmentation/iter_0_130/.DS_Store
images_enc_withoutMask/segmentation/iter_0_140/.DS_Store
images_enc_withoutMask/segmentation/iter_0_150/.DS_Store
images_enc_withoutMask/segmentation/iter_0_160/.DS_Store
images_enc_withoutMask/segmentation/iter_0_170/.DS_Store
images_enc_withoutMask/segmentation/iter_0_20/.DS_Store
images_enc_withoutMask/segmentation/iter_0_200/.DS_Store
images_enc_withoutMask/segmentation/iter_0_210/.DS_Store
images_enc_withoutMask/segmentation/iter_0_240/.DS_Store
images_enc_withoutMask/segmentation/iter_0_250/.DS_Store
images_enc_withoutMask/segmentation/iter_0_270/.DS_Store
images_enc_withoutMask/segmentation/iter_0_280/.DS_Store
images_enc_withoutMask/segmentation/iter_0_30/.DS_Store
images_enc_withoutMask/segmentation/iter_0_300/.DS_Store
images_enc_withoutMask/segmentation/iter_0_310/.DS_Store
images_enc_withoutMask/segmentation/iter_0_330/.DS_Store
images_enc_withoutMask/segmentation/iter_0_340/.DS_Store
images_enc_withoutMask/segmentation/iter_0_350/.DS_Store
images_enc_withoutMask/segmentation/iter_0_360/.DS_Store
images_enc_withoutMask/segmentation/iter_0_40/.DS_Store
images_enc_withoutMask/segmentation/iter_0_400/.DS_Store
images_enc_withoutMask/segmentation/iter_0_420/.DS_Store
images_enc_withoutMask/segmentation/iter_0_430/.DS_Store
images_enc_withoutMask/segmentation/iter_0_440/.DS_Store
images_enc_withoutMask/segmentation/iter_0_450/.DS_Store
images_enc_withoutMask/segmentation/iter_0_460/.DS_Store
images_enc_withoutMask/segmentation/iter_0_470/.DS_Store
images_enc_withoutMask/segmentation/iter_0_490/.DS_Store
images_enc_withoutMask/segmentation/iter_0_50/.DS_Store
images_enc_withoutMask/segmentation/iter_0_500/.DS_Store
images_enc_withoutMask/segmentation/iter_0_510/.DS_Store
images_enc_withoutMask/segmentation/iter_0_520/.DS_Store
images_enc_withoutMask/segmentation/iter_0_530/.DS_Store
images_enc_withoutMask/segmentation/iter_0_550/.DS_Store
images_enc_withoutMask/segmentation/iter_0_560/.DS_Store
images_enc_withoutMask/segmentation/iter_0_570/.DS_Store
images_enc_withoutMask/segmentation/iter_0_580/.DS_Store
images_enc_withoutMask/segmentation/iter_0_60/.DS_Store
images_enc_withoutMask/segmentation/iter_0_600/.DS_Store
images_enc_withoutMask/segmentation/iter_0_610/.DS_Store
images_enc_withoutMask/segmentation/iter_0_620/.DS_Store
images_enc_withoutMask/segmentation/iter_0_670/.DS_Store
images_enc_withoutMask/segmentation/iter_0_70/.DS_Store
images_enc_withoutMask/segmentation/iter_0_700/.DS_Store
images_enc_withoutMask/segmentation/iter_0_710/.DS_Store
images_enc_withoutMask/segmentation/iter_0_720/.DS_Store
images_enc_withoutMask/segmentation/iter_0_80/.DS_Store
images_enc_withoutMask/segmentation/iter_0_90/.DS_Store
src/data/dana/all_15_subjects/FLAIR/.DS_Store
src/data/dana/all_15_subjects/manual_tracing/.DS_Store
src/data/dana/preprocess/0097RS/.DS_Store
src/data/dana/whitestripe/processed/.DS_Store
